In [11]:
import pandas as pd

In [12]:
data=pd.read_csv('D:/Masters/total.csv',low_memory= False, memory_map=True)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

In [14]:
data.describe()

            TotalPay  TotalPayBenefits           Year
count  312882.000000     312882.000000  312882.000000
mean    78802.645788     100928.339777    2014.625303
std     53230.758542      66485.186495       2.290899
min      -618.130000      -3628.780000    2011.000000
25%     38803.000000      48955.072500    2013.000000
50%     74908.790000     100011.290000    2015.000000
75%    111386.897500     142376.300000    2017.000000
max    592394.340000     712802.360000    2018.000000

In [15]:

def get_details(employee_name):
    name_match= data[data['EmployeeName']==employee_name]
    
    if name_match.empty:
        return "No records found for:" + employee_name

    record= name_match.iloc[0]
    
    details={
        
    "Employee name": record['EmployeeName'],
    "Position":record['JobTitle'],
    "Base pay":record['BasePay'],
    "Overtime":record['OvertimePay'],
    "Other pay":record['OtherPay'],
    "Benefits": record['Benefits'],
    "Total pay":record['TotalPay'],
    "Total pay and benefits":record['TotalPayBenefits'],
    "Year": record['Year']
}

    return(details)

In [16]:
def get_yearly(yearly_analysis):
    year_match = data[data['Year'] == yearly_analysis]
    
    if year_match.empty:
        return f"No records found for year {yearly_analysis}"
    
    total_pay = year_match['TotalPay'].sum()
    
    return {yearly_analysis: total_pay}

print(get_yearly(2012))

{2012: np.float64(2724848200.44)}

In [17]:
def get_pay_per_job(job_title):
    job_match = data[data['JobTitle'].str.lower() == job_title.lower()]
    
    if job_match.empty:
        return f"No records found for title {job_title}"
    
    total_pay = job_match['TotalPay'].sum()
    
    return {job_title: total_pay}

print(get_pay_per_job('Mayor'))

{'Mayor': np.float64(2426490.01)}

In [18]:
def get_pay_per_job(job_pay):
    try:
        # Check if 'JobTitle' and 'TotalPay' columns exist
        if 'JobTitle' not in data.columns or 'TotalPay' not in data.columns:
            return "Required columns are missing in the dataset."
        
        # Filter job title (case-insensitive)
        job_match = data[data['JobTitle'].str.lower() == job_pay.lower()]
        
        if job_match.empty:
            return f"No records found for job title: {job_pay}"
        
        # Try converting TotalPay to numeric in case of string values
        job_match['TotalPay'] = pd.to_numeric(job_match['TotalPay'], errors='coerce')
        total_pay = job_match['TotalPay'].sum(skipna=True)
        
        return {job_pay.title(): round(total_pay, 2)}

    except Exception as e:
        return f"An error occurred: {str(e)}"

In [19]:
import pandas as pd
import os
import zipfile

def export_employee_profile(employee_name):
    # Filter employee details
    match = data[data['EmployeeName'] == employee_name]

    if match.empty:
        return f"No records found for employee: {employee_name}"

    # Create a DataFrame with just this record
    employee_data = match.copy()

    # Step 1: Create output folder and file name
    output_folder = "Employee Profile"
    csv_filename = f"{employee_name.replace(' ', '_')}_profile.csv"
    csv_path = os.path.join(output_folder, csv_filename)

    # Step 2: Ensure output folder exists
    os.makedirs(output_folder, exist_ok=True)

    # Step 3: Save CSV file
    employee_data.to_csv(csv_path, index=False)

    # Step 4: Zip the folder
    zip_filename = "Employee_Profile.zip"
    with zipfile.ZipFile(zip_filename, "w", zipfile.ZIP_DEFLATED) as zipf:
        zipf.write(csv_path, arcname=os.path.join("Employee Profile", csv_filename))

    return f"Profile exported successfully to '{zip_filename}'"

# ðŸ§ª Example usage:
print(export_employee_profile("Ed Lee"))

No records found for employee: Ed Lee